* {
    background-color: aliceblue;
}

html {
    font-size: 62.5%;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
}